body {
    background-color: #000;
    font-family: monospace;
    color: white;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  p {
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  li {
    font-size: 16px;
  }
  
  a {
    color: #0F0;
  }
  
  .card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border: 1px solid #0F0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .card-header {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #0F0;
  }
  
  .card-body {
    font-size: 16px;
    color: white;
  }