body {
    background-color: #000;
    font-family: monospace;
    color: white;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  p {
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  li {
    font-size: 16px;
  }
  
  a {
    color: #0F0;
  }


  .card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border: 1px solid #0F0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .card-header {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #0F0;
  }
  
  .card-body {
    font-size: 16px;
    color: white;
  }

  .thank-you-card {
    background-color: #333;
    border: 1px solid #0F0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .thank-you-card p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .skills-section {
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skill {
    width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border: 1px solid rgb(113, 171, 113);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .skill h3 {
    font-size:  14px;
    color: rgb(220, 139, 139);
    text-align: center;
    padding: 4px 0;
    background-color: rgb(40, 107, 40);
  }
  
  .skill p {
    font-size: 16px;
    color: white;
  }